.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 2rem;
  padding-bottom: 3rem;
}

.image-wrapper {
  position: relative;
  padding: 1rem;
  background-color: #f0efef;
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-radius: 30px;
}

.image-wrapper > h2 {
  display: flex;
  position: absolute;
  bottom: 0;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  color: #e91919;
  mix-blend-mode: difference;
  font-size: 2rem;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.form-wrapper {
  background-color: #f0efef;
  border-right: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-radius: 30px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.form-wrapper > h2 {
  text-align: center;
}
.form-wrapper > input {
  border-radius: 20px;
  max-height: 20px;
  display: flex;
}

.form-wrapper > button {
  border-radius: 20px;
  max-height: 40px;
}

header {
  background-color: rgb(245, 111, 111);
  text-align: center;
  height: 50px;
  z-index: 999999999;
}

.services-section > h2 {
  background-color: rgb(245, 111, 111);
  text-align: center;
  height: 50px;
  justify-content: center;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offert {
  background-color: #f0efef;
  height: 320px;
  width: 600px;
  margin: 80px;
  position: relative;
  border: 1px black solid;
}

.img {
  height: 220px;
  width: 360px;
}

h4 {
  background-color: #f0efef;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 350.4px;
  border-top: 1px black solid;
}

.roadmap {
  background-color: #f0efef;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 2rem;
}

footer {
  background-color: rgb(245, 111, 111);
  text-align: center;
  height: 50px;
}

.roadmap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 1px black solid;
}

.roadmap > img {
  width: 550px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  margin: 5em;
  border: 1px black solid;
}

.pos {
  display: flex;
  justify-content: center;
}
